.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.gitignore
.eslintignore
eslint.config.mjs
esbuild.js
tsconfig.json
.vscode-test.mjs
**/*.map
**/*.ts
!dist/**
dist/metafile.json
.github/**
images/icon.svg
_prototype/**
